@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at top center,
      #1c1f75,
      transparent 23%
    ),
    radial-gradient(circle at 80% center, #0e1e70, transparent 25%),
    #010138;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

:root {
  --animation-duration: 0.5s;
  --animation-timing-function: cubic-bezier(0, 1.93, 0.88, 0.92);
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutImage,
.aboutImage2,
.aboutText,
.aboutText2 {
  opacity: 0;
}

.aboutImageAnimation,
.aboutTextAnimation2 {
  animation: slideInLeft var(--animation-duration)
    var(--animation-timing-function) forwards;
}

.aboutImageAnimation2,
.aboutTextAnimation {
  animation: slideInRight var(--animation-duration)
    var(--animation-timing-function) forwards;
}

@keyframes borderAnimations {
  0%,
  100% {
    border-left: 2px solid rgba(32, 233, 255);
    border-top: 2px solid rgba(32, 233, 255, 0.15);
    border-right: 2px solid rgba(32, 233, 255, 0.3);
    border-bottom: 2px solid rgba(32, 233, 255, 0.5);
  }
  25% {
    border-top: 2px solid rgba(32, 233, 255);
    border-right: 2px solid rgba(32, 233, 255, 0.15);
    border-bottom: 2px solid rgba(32, 233, 255, 0.3);
    border-left: 2px solid rgba(32, 233, 255, 0.5);
  }
  50% {
    border-right: 2px solid rgba(32, 233, 255);
    border-bottom: 2px solid rgba(32, 233, 255, 0.15);
    border-left: 2px solid rgba(32, 233, 255, 0.3);
    border-top: 2px solid rgba(32, 233, 255, 0.5);
  }
  75% {
    border-bottom: 2px solid rgba(32, 233, 255);
    border-left: 2px solid rgba(32, 233, 255, 0.15);
    border-top: 2px solid rgba(32, 233, 255, 0.3);
    border-right: 2px solid rgba(32, 233, 255, 0.5);
  }
}

.serviceAnimation {
  animation: borderAnimations 0.7s infinite linear;
}

@keyframes scrollCarousel {
  0%,
  25%,
  50%,
  74% {
    transform: translateX(0);
  }
  75%,
  100% {
    transform: translateX(-20%);
  }
}

.scroll-content {
  animation: scrollCarousel 5s linear infinite;
}
