@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at top center,
      #1c1f75,
      transparent 23%
    ),
    radial-gradient(circle at 80% center, #0e1e70, transparent 25%),
    #010138;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
