@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
      circle at top center,
      #1c1f75,
      transparent 23%
    ),
    radial-gradient(circle at 80% center, #0e1e70, transparent 25%),
    #010138;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

:root {
  --animation-duration: 0.5s;
  --animation-timing-function: cubic-bezier(0, 1.93, 0.88, 0.92);
}

#socialsSection {
  transform: translate3d(0, 0, 0);
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutImage,
.aboutText {
  opacity: 0;
}

.aboutImageAnimation,
.aboutTextAnimation2 {
  animation: slideInLeft var(--animation-duration)
    var(--animation-timing-function) forwards;
}

.aboutImageAnimation2,
.aboutTextAnimation {
  animation: slideInRight var(--animation-duration)
    var(--animation-timing-function) forwards;
}

@keyframes borderAnimations {
  0%,
  100% {
    border-left: 2px solid rgba(32, 233, 255);
    border-top: 2px solid rgba(32, 233, 255, 0.15);
    border-right: 2px solid rgba(32, 233, 255, 0.3);
    border-bottom: 2px solid rgba(32, 233, 255, 0.5);
  }
  25% {
    border-top: 2px solid rgba(32, 233, 255);
    border-right: 2px solid rgba(32, 233, 255, 0.15);
    border-bottom: 2px solid rgba(32, 233, 255, 0.3);
    border-left: 2px solid rgba(32, 233, 255, 0.5);
  }
  50% {
    border-right: 2px solid rgba(32, 233, 255);
    border-bottom: 2px solid rgba(32, 233, 255, 0.15);
    border-left: 2px solid rgba(32, 233, 255, 0.3);
    border-top: 2px solid rgba(32, 233, 255, 0.5);
  }
  75% {
    border-bottom: 2px solid rgba(32, 233, 255);
    border-left: 2px solid rgba(32, 233, 255, 0.15);
    border-top: 2px solid rgba(32, 233, 255, 0.3);
    border-right: 2px solid rgba(32, 233, 255, 0.5);
  }
}

.serviceAnimation {
  animation: borderAnimations 0.7s infinite linear;
}

@keyframes scrollCarousel {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20svw);
  }
}

.scroll-content {
  animation: scrollCarousel 5s linear infinite;
  animation-delay: 0.5s; /* Starts after scaling finishes */
}

.partners {
  transform: translate3d(0, 0, 0);
}

.eachPartner {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.2s linear,
    transform 0.5s cubic-bezier(0.17, 0.67, 0.66, 1.43);
}

.scaleUp {
  transform: scale(1);
  opacity: 1;
}

.heroSectionComponent1 {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.2s ease,
    transform 0.4s cubic-bezier(0, 1.85, 0.57, 0.95);
}

.heroSectionComponent2 {
  opacity: 0;
  transform: translate(-40px, 40px);
  transition: opacity 0.2s ease,
    transform 0.7s cubic-bezier(0, 1.85, 0.73, 0.81);
}

.heroSectionComponent1Animation,
.heroSectionComponent2Animation {
  opacity: 1;
  transform: translate(0, 0);
}

.eachService {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.05s ease,
    transform 0.5s cubic-bezier(0.37, 0.85, 0.68, 1.24);
  transition-delay: calc(0.1s * var(--i));
}

.eachEvent {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.05s ease,
    transform 0.5s cubic-bezier(0.37, 0.85, 0.68, 1.24);
  transition-delay: calc(0.1s * var(--i));
}

.serviceStaggerEffect,
.eventStaggerEffect {
  opacity: 1;
  transform: translateY(0);
}

.viewMoreButton,
.divider, .header {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.05s ease,
    transform 0.5s cubic-bezier(0.22, 1.49, 0.58, 1.65);
  transition-delay: 0.4s;
}

.viewMoreButtonAnimation,
.dividerAnimation,
.headerAnimation {
  opacity: 1;
  transform: translateY(0);
}
